*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color:lightgray;
}

a {
  color:dodgerblue;
}

#navTitles {
  display: flex;
  flex-direction: row;
}
.pageLink {
  font-size: 18px;
  flex-direction: column;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.project {
  margin: 15px;
  width: 45%;
}

#navLinks {
  justify-content: end;
  margin-right: 20px;
}

#navLinks a {
  margin-left: 35px;
}

#resumeCard {
  text-align: left;
  margin-left: 25px;
}

#resumeCard ul{
  list-style-type: none;
}

.nav-item {
  margin: 20px;
}

.proj-links {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.active {
  font-weight: bolder;
}

h1 {
  font-size: 35px;
}

h2 {
  margin: 75px 0 35px 0;
}

#navbar {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  margin-bottom: 20px;
  background-color: lightblue;
}

#me {
  height: 150px;
  border-radius: 15px;
  margin-top: 50px;
}
#aboutTitle {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 44%;
  justify-content: space-between;
}

#aboutMe {
  margin-top: 20px;
}

#download {
  font-size: 20px;
}

#frontEnd {
  margin-top: 30px;
}

@media screen and (max-width:695px) {
  .project {
    width: 200%;
  }
  #projects {
    padding: 0;
  }
}

@media screen and (max-width:636px) {
  #bar {
    justify-content: center;
  }
  #me {
    height: 100px;
    margin-top: 75px
  }
}

@media screen and (max-width: 456px) {
  h2 {
    margin-top: 125px;
  }
  #me {
    margin-top: 105px;
  }
  .pageLink {
    font-size: 14px
  }
  #aboutTitle {
    margin-right: 20%;
  }
}