#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.project {
  margin: 15px;
  width: 45%;
}

#navLinks {
  justify-content: end;
}

#navLinks a {
  margin-left: 35px;
}