#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.project {
  margin: 15px;
  width: 45%;
}

#navLinks {
  justify-content: end;
}

#navLinks a {
  margin-left: 35px;
}

#resumeCard {
  text-align: left;
}

#resumeCard ul{
  list-style-type: none;
}